body {
	margin: 0; 
	padding: 0;
}

#container {
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	margin: 0 auto;
	max-width: 800px;
	max-height: 612px;
}

.flipbook {
	position: relative;	
	width: 800px;
	height: 612px;
	z-index: 999;
}

.flipbook > div {
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
}

.flipbook .hide {
	display: none;
}

.flipbook > div > div {
	width: inherit;
	height: inherit;
	background-size: 800px 612px;
	width: 50%;
	height: 100%;
	position: absolute;
}

/* We are separating the image divs into two separate divs. */
/* The second must be at the right, and the first on the left */
.flipbook div[class$="-fend"] {
	background-position: 100% 0;
	left: 50%;
}


/* Preserve 3D */

.flipbook .moving-div {
	z-index: 99999;
	width: 50%;
	
	-webkit-perspective: 1000;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 0 0;
	
	-moz-perspective: 1000;
	-moz-transform-style: preserve-3d;
	-moz-transform-origin: 0 0;

	-o-perspective: 1000;
	-o-transform-style: preserve-3d;
	-o-transform-origin: 0 0;
	
	-ms-perspective: 1000;
	-ms-transform-style: preserve-3d;
	-ms-transform-origin: 0 0;
	
	perspective: 1000;
	transform-style: preserve-3d;
	transform-origin: 0 0;
}

/* Make the backfaces invisible */
.flipbook .moving-div div {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	width: 100%;
	z-index: 9999;
}
/* Ensure the divs are in the correct position */
.flipbook .moving-div > div[class$="-fend"] {
	left: 0;
}

/* Rotate the last card so its facing back to back with the first one */
.flipbook .moving-div > div[class$="-fstart"] {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/* The two spans are shadows for depth */
.flipbook .moving-div span {
	box-shadow: inset 60px 0 60px -60px rgba(0,0,0,0.1);
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	display: block;
	z-index: 999999;
	top: 0;	
	background: rgba(0,0,0,0.1);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	left: 0;
}

.flipbook .moving-div span:last-of-type {
	-webkit-transform: rotateY(180deg);	
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);	
	-ms-transform: rotateY(180deg);	
	transform: rotateY(180deg);	
	box-shadow: inset -60px 0 60px -60px rgba(0,0,0,0.1);
}


.flipbook .rotateYForward {
	-webkit-transform: rotateY(180deg);	
	-webkit-transition: -webkit-transform 1s ease-in;
	
	-moz-transform: rotateY(180deg);	
	-moz-transition: -moz-transform 1s ease-in;
	
	-o-transform: rotateY(180deg);	
	-o-transition: -o-transform 1s ease-in;
	
	-ms-transform: rotateY(180deg);	
	-ms-transition: -o-transform 1s ease-in;
	
	transform: rotateY(180deg);	
	transition: transform 1s ease-in;
	left: 50%;
}

.flipbook .beginMove {
	left: 50%;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);	
	-o-transform: rotateY(180deg);	
	transform: rotateY(180deg);	
}

.flipbook .rotateYBackward {
	-webkit-transform: rotateY(360deg);
	-webkit-transition: -webkit-transform 1s ease-in;
	
	-moz-transform: rotateY(360deg);
	-moz-transition: -moz-transform 1s ease-in;
	
	-o-transform: rotateY(360deg);
	-o-transition: -o-transform 1s ease-in;
	
	-ms-transform: rotateY(360deg);
	-ms-transition: -o-transform 1s ease-in;
	
	transform: rotateY(360deg);
	transition: transform 1s ease-in;
}


.flipbook .back-arrow, .flipbook .forward-arrow {
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px 28px;
	font-size: 4.7em;
	font-weight: bold;
	z-index: 10;
	left: -140px;
	color: #81AB8F;
	top: 45%;
	border-radius: 100px;
	position: absolute;
	cursor: pointer;
	z-index: 999999;
	background-color: #43604D;
}

.flipbook div[class$="-arrow"]:hover {
	box-shadow: inset 0px 0px 30px rgba(0,0,0,0.2);
}

.flipbook div[class$="-arrow"]:active {
	background-color: #2e505f;
	box-shadow: inset 0px 0px 30px rgba(0,0,0,0.1);
}

.flipbook .forward-arrow {
	right: -140px;
	left: auto;
	padding: 8px 34px;
	font-weight: bold;
}

div[class^="image-1-"] {
	background: url('images/Позиция №9.jpg');
	background-repeat: no-repeat;
	background-size: contain;
}

div[class^="image-2-"] {
	background: url('images/Позиция №10.jpg');
}

div[class^="image-3-"] {
	background: url('images/Позиция №1.jpg');
}

div[class^="image-4-"] {
	background: url('images/Позиция №2.jpg');
}

div[class^="image-5-"] {
	background: url('images/Позиция №3.jpg');
}

div[class^="image-6-"] {
	background: url('images/Позиция №4.jpg');
}

div[class^="image-7-"] {
	background: url('images/Позиция №5.jpg');
}

div[class^="image-8-"] {
	background: url('images/Позиция №6.jpg');
}

div[class^="image-9-"] {
	background: url('images/Позиция №7.jpg');
}

div[class^="image-10-"] {
	background: url('images/Позиция №8.jpg');
}



